<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Profile </h3>

					<p>
						
						<strong>username</strong>: <%= user.local.email %><br>
						
						<strong> Login History </strong> : 
						<ol>
							<% user.local.loginHistory.forEach(function(l) { %>
								<li><%= l %></li>
							<% }); %>
							</ol>
						<a target="_blank" href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15" > Navigate to Stackoverflow</a>

					</p>

			</div>
			<div class="well">
				<h3> <h3><span class="fa fa-user"></span> Activity </h3>
				
				
									<p>
										
										<strong>Activity Tracked :</strong> 
										<ul> 
											<li> Mouse Clicks 
												<ol>
													<li> <b> Click on Question </b>
													<p> <i>This gives us an idea of what kind of questions the user has in the Java programming language. </i></p></li>
													<li> <b> Click on Question Tag </b> 
													<p> <i>This gives us an idea of what kind of topics the user still needs to learn. </i></p></li>
													<li> <b>Click on a User Profile </b>
													<p> <i>This tells us who the user would like to follow which also gives us an idea of what topics he/she would like to stay aware of through posts from active users. </i></p></li>
													<li> <b>  Click on Ask a Question button </b>
													<p> <i>This tells us that the user is probably learning and implementing programs and wants to build a user profile on Stackoverflow. </i></p></li>
													</ol>
												</li>
											<li> Text Copy
												<ol>
													<li> <b> Copy Code </b>
														<p> <i> This tells us that the user is currently looking for answers and finds a certain piece of code useful. This will help for future content. </i> </p> </li>
													</ol>
												</li>
											</ul>
										</p>



										
										
				
							</div>
		</div>

	</div>

</div>
</body>
</html>
